html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: #111827;
	color: #d1d5db;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.sketch-board {
	width: 600px;
	height: 600px;
}

.sketch-board {
	display: flex;
	border: 2px solid black;
	flex-wrap: wrap;
	background-color: white;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

.box {
	flex: 1 1 0%; /*flex: 1;*/
	border: 1px solid rgba(92, 85, 85, 0.388);
}

.color-box {
	background-color: aqua;
}

dialog {
	margin: auto;
}

.modal-container {
	width: 250px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 8px;
	border-radius: 8px;
	text-align: center;
}

dialog::backdrop {
	background-color: #a1a1a17e;
	background-color: #1f2937c0;
}

.dialog-buttons {
	display: flex;
	gap: 8px;
}

.dialog-buttons button {
	flex: 1 1 0;
}

button {
	padding: 5px 15px;
}
