html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.sketch-board {
	width: 500px;
	height: 500px;
}

.sketch-board {
	display: flex;
	border: 1px solid #ffecdb;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

.box {
	flex: 1 1 0%; /*flex: 1;*/
	border: 2px solid #ffecdb;
}

.color-box {
	background-color: aqua;
}

dialog {
	margin: auto;
}

.modal-container {
	width: 250px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 8px;
	border-radius: 8px;
	text-align: center;
}

dialog::backdrop {
	background-color: #a1a1a17e;
}

.dialog-buttons {
	display: flex;
	gap: 8px;
}

.dialog-buttons button {
	flex: 1 1 0;
}
